#background-rectangle {
  position: absolute;
  right: 100px;
  border-radius: 2px;
  /* animation: rectangle-load 300ms ease-out; */
  z-index: -1;
}

#home-div {
  margin-top: 100px;
  min-height: 700px;
}

#current-position {
  font-size: var(--large-font-size);
  color: var(--main-grey-color);
  display: flex;
  align-items: center;
  font-weight: 500;
}

#name {
  font-size: var(--largest-font-size);
  color: black;
  z-index: 2;
  font-weight: 500;
}

#home-page-line {
  margin-top: 45px;
  margin-bottom: 45px;
}

#home-page-additional-text-div {
  width: 35%;
}

#home-page-below-bottom-line-items-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#home-page-expand-button-div {
  width: 35%;
}

#home-page-all-bottom-items-div {
  margin-top: 250px;
  margin-bottom: 45px;
}

.expand-button {
  /* new addition */
  background: var(--main-backdrop-color);
  backdrop-filter: blur(20px) saturate(1.7);
  /* new addition */

  width: 100%;
  height: 50px;
  border-radius: 50% / 50% 50% 50% 50%;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--small-font-size);
}

#home-page-above-bottom-line-items-div {
  font-size: var(--small-font-size);
  display: flex;
}

#home-page-star-icon-img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
