#backround-rectangle {
  height: 200px;
  position: absolute;
  right: 100px;
  width: 200px;
  box-shadow: 0.5px 0.5px 200px black;
  animation: rectangle-load 300ms ease-out;
  transform: rotate(45deg);
  border-radius: 2px;
  border: 1px solid black;
}

@keyframes rectangle-load {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

body {
  background-color: #eaeaea;
}

#home-div {
  margin-top: 100px;
  height: 700px;
  background-color: #eaeaea;
}

#current-position {
  font-size: 30px;
  color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  font-weight: 500;
}

#name {
  font-size: 75px;
  color: black;
  z-index: 2;
  font-weight: 500;
}

#home-page-line {
  margin-top: 45px;
  margin-bottom: 45px;
}

#home-page-additional-text-div {
  width: 35%;
}

#home-page-below-bottom-line-items-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-page-expand-button-div {
  width: 35%;
}

#home-page-all-bottom-items-div {
  margin-top: 22%;
  margin-bottom: 45px;
}

.expand-button {
  width: 100%;
  height: 50px;
  border-radius: 50% / 50% 50% 50% 50%;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
}

#home-page-above-bottom-line-items-div {
  font-size: 14px;
  display: flex;
}

#home-page-star-icon-img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
