{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 90,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true
}
