#contact-div {
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contact-page-left-side-div {
  flex: 1;
  margin-top: 60px;
  font-size: var(--largest-font-size);
  font-weight: 500;
}

#contact-page-right-side-div {
  flex: 1;
  width: 600px;
  min-height: 370px;
  margin-top: 200px;
}

#contact-page-right-side-top-div {
  font-size: var(--large-font-size);
  padding-bottom: 50px;
  padding-right: 8%;
  font-weight: 500;
  border-bottom: 1px solid black;
}

#contact-page-right-side-bottom-div {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-page-bolded-info {
  font-weight: 800;
  font-size: var(--medium-font-size);
}

#social-media-div {
  padding-right: 8%;
}

.contact-info-child-div {
  margin-top: 50px;
}

#social-media-div,
#general-info-div {
  margin-top: 50px;
}
