.fixed-button {
  color: black;
  font-weight: 500;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  background: var(--main-backdrop-color);
  backdrop-filter: blur(20px) saturate(1.7);
}

#fixed-buttons-div {
  display: flex;
  gap: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  height: 50px;
  align-items: center;
  z-index: 10;
  transform-origin: left bottom;
}

/* after animation */
/* #fixed-buttons-div {
  transform: rotateZ(-90deg);
  top: 450px;
  left: 100px;
  height: 100px;
} */

.button-numbers {
  display: inline-block;
  font-size: var(--smallest-font-size);
  font-weight: 400;
}
