.header-button {
  color: black;
  font-weight: 500;
  background-color: WHITE;
  border: 1px black solid;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

#header-div {
  display: flex;
  gap: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  height: 50px;
  align-items: center;
  z-index: 10;
}
.button-numbers {
  display: inline-block;
  font-size: var(--smallest-font-size);
  font-weight: 400;
}
