#skills-div {
  flex: 40;
}

#skills-layout {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skill-div {
  flex-grow: 1;
  display: flex;
  padding-right: 15px;
  background-color: #d7d7d7;
  width: fit-content;
  font-weight: 900;
  border-radius: 10px;
  align-items: center;
}

.skill-img {
  width: 30px;
  margin: 15px;
  border-radius: 5px;
}

.second-skill-img {
  margin-left: 0;
}
