#skills-div {
  flex: 40;
}

#skills-layout {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skill-div {
  /* new addition */
  background: var(--main-backdrop-color);
  backdrop-filter: blur(20px) saturate(1.7);
  /* new addition */
  flex-grow: 1;
  display: flex;
  padding-right: 15px;
  width: fit-content;
  font-weight: 900;
  border-radius: 10px;
  align-items: center;
}

.skill-img {
  width: 30px;
  margin: 15px;
  border-radius: 5px;
}

.second-skill-img {
  margin-left: 0;
}
