#sidebar-div {
  position: fixed;
  width: var(--sidebar-width);
  left: 0;
  bottom: 20px;
  text-align: center;
}

.sidebar-img {
  width: var(--sidebar-img-width);
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
