#experience-skills-div {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  margin-bottom: 50px;
  min-height: 650px;
  flex-wrap: wrap;
}

@media all and (max-width: 1200px) {
  #experience-skills-div {
    grid-template-columns: auto;
  }
}

#experience-div {
  flex: 60;
}

#experience-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
}

@media all and (max-width: 900px) {
  #experience-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 700px) {
  #experience-grid {
    grid-template-columns: 1fr;
  }
}

.experience-div {
  margin-top: 0;
  flex: 1 0 0;
  height: fit-content;
}

.experience-photo-div {
  height: 190px;
  width: 100%;
}

.experience-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-div {
  margin-top: 12px;
  font-weight: bold;
  font-size: var(--large-font-size);
}

.date-div,
.place-div {
  font-size: var(--small-font-size);
}

.date-div {
  margin-top: 12px;
  color: var(--main-grey-color);
  font-weight: 400;
}

.place-div {
  font-weight: 500;
}

.description-div {
  margin-top: 13px;
  font-weight: 500;
  font-size: var(--medium-font-size);
}

.additional-info-div {
  margin: 10px;
  margin-left: 0;
  width: 25px;
  cursor: pointer;
}

.additional-info-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.additional-info-img:hover {
  backdrop-filter: blur(8px);
  transform: scale(1.2);
}
