#experience-div {
  min-height: 650px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#experience-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}

.experience-div {
  margin-top: 0;
}

.experience-photo-div {
  height: 30%;
  width: 100%; /* this has to have media query as this is now unresponsive (not sure why I wrote this?)*/
}

.experience-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-div {
  margin-top: 12px;
  font-weight: bold;
}

.date-div,
.place-div {
  font-size: 13px;
}

.date-div {
  margin-top: 12px;
  color: rgb(78, 78, 78);
  font-weight: 400;
}

.place-div {
  font-weight: 500;
}

.description-div {
  margin-top: 13px;
  font-weight: 500;
}

.additional-info-div {
  margin: 10px;
  margin-left: 0;
  width: 25px;
  cursor: pointer;
}

.additional-info-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.additional-info-img:hover {
  backdrop-filter: blur(8px);
  transform: scale(1.2);
}
