#about-div {
  display: flex;
  min-height: 650px;
  margin-bottom: 50px;
  position: relative;
}

#about-div-photo {
  flex: 6; /*this is supposed to be 3*/
}

#about-div-text {
  flex: 10;
}

#about-div-end {
  flex: 3;
}

.about-top-div {
  min-height: 50px;
}

.about-middle-div {
  min-height: 530px;
  padding: 10px;
  padding-bottom: 50px;
  margin-bottom: 5px;
}

#about-image-div {
  height: 530px;
}

#about-image-top-div {
  padding: 10px;
  height: auto; /*this is supposed to be 530px*/
}

#about-horizontal-border-top {
  background-color: black;
  width: 100%;
  height: 0.5px;
  position: absolute;
  left: 0;
  top: 50px; /*this is going to be 550px*/
}

@media all and (max-width: 1000px) {
  #about-horizontal-border-top {
    top: 550px;
  }
  #about-image-top-div {
    height: 530px;
  }
  #about-div-photo {
    flex: 3;
  }
}

#about-horizontal-border-bottom {
  background-color: black;
  width: 70%;
  height: 0.5px;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.about-vertical-border {
  height: 100%;
  background-color: black;
  width: 0.5px;
  position: absolute;
}

#about-vertical-border-right {
  height: 50%;
}

#about-vertical-border-left {
  height: 100%;
}

#about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about-middle-div-left-side {
  width: 50%;
}

#about-page-big-text-div {
  font-size: var(--large-font-size);
  padding-bottom: 20px;
  font-weight: 500;
  border-bottom: 1px solid black;
}

#about-page-smaller-text-div {
  font-size: var(--small-font-size);
  padding-top: 20px;
}
