#about-div {
  display: flex;
  height: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

#about-div-photo {
  flex: 6;
}

#about-div-text {
  flex: 10;
}

#about-div-end {
  flex: 3;
}

.about-top-div {
  height: 50px;
}

.about-middle-div {
  height: 300px;
  padding: 10px;
}

#about-horizontal-border-top {
  background-color: black;
  width: 100%;
  height: 0.5px;
  position: absolute;
  left: 0;
  top: 50px;
}

#about-horizontal-border-bottom {
  background-color: black;
  width: 70%;
  height: 0.5px;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.about-vertical-border {
  height: 100%;
  background-color: black;
  width: 0.5px;
  position: absolute;
}

#about-vertical-border-right {
  height: 50%;
}

#about-vertical-border-left {
  height: 100%;
}

#about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about-page-big-text-div {
  font-size: 23px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  width: 50%;
  border-bottom: 1px solid black;
}

#about-page-smaller-text-div {
  font-size: 14px;
  width: 50%;
}
